@import url(../css/global/global.css);
@import url(./global/header.css);
/*home*/
@import url(./home/introducao.css);
/*utilidades*/
@import url(./utilidades/cores.css);
@import url(./utilidades/componentes.css);
@import url(./utilidades/tipografia.css);


/* BICICLETAS*/
@import url(./bicicletas/bicicletas-lista.css);
/*tecnologia*/
@import url(../css/home/tecnologia.css);

/*parceiros*/
@import url(../css/home/parceiros.css);
/*depoimento*/
@import url(../css/home/depoimento.css);
/*Seguros*/
@import url(../css/seguros/seguros.css);