@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;500&display=swap');
body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 600px;
}
ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
img {
    max-width: 100%;
    display: block;
}
a {
    text-decoration: none;
    color: inherit;
}
h1, ul, p {
    margin: 0px;
}
.header-bg {
    background-color: black;
}
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    max-width: 1200px;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
    
}
.header-menu {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}
.header-menu a {
    padding: 16px 0px;
    display: inline-block;
    color: white;
    font-size: 18px;
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.header-menu a:hover {
    background-color: #35343413;
    border-radius: 8px;
}
.header-menu a::after {
    content: " ";
    display: block;
    height: 2px;
    width: 0%;
    background-color: white;
    margin-top: 4px;
    transition: 0.3s;
    position: absolute;
}
.header-menu a:hover:after {
    width: 100%;
}
@media (max-width:800px) {
    .header-menu a {
        background-color: rgba(66, 65, 65, 0.067);
        padding: 12px 16px;
        border-radius: 4px;
    }
    .header-menu {
        gap: 20px;
    }
    .header-menu a::after {
        display: none;
    }
}
@media (max-width:600px) {
    .header-menu {
        gap: 12px;
    }
    .header-menu a {
        padding: 8px 12px ;
        font-size: 14px;
    }
}
.introducao-bg {
    background-color: black;
    color: white;
    box-shadow: inset 0 -120px white;
}
.introducao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
    max-width: 1200px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
#point {
    color: #FFBB00;
}
.introducao-conteudo {
    align-self: end;
    padding-bottom: 200px;
}
.introducao img {
   object-fit: cover;
   height: 100%;
   border-radius: 4px;
}

.introducao-conteudo h1 {
    margin-bottom: 32px;
    font-size: 64px;
    line-height: 1.125;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.introducao-conteudo p {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.5;
    color: #b2b2b2;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.introducao a {
    padding: 16px 32px;
    background:linear-gradient(#ffbf00, #f2a50c);
    display: inline-block;
    border-radius: 4px;
    text-transform: uppercase;
    color: #332200;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 1.33;
    box-shadow: 0, 1px 2px rgb(0, 0, 0, .1)
}
.introducao a:hover {
    background:linear-gradient(#dbab19, #523907);
}
@media (max-width:600px) {
    .introducao a {
        padding: 12px 16px;
        font-size: 16px
    }
}



@media (max-width:1200px) {
    .introducao h1 {
        font-size: 48px;
    }
    .introducao p {
        font-size: 18px
    }
}
@media (max-width:800px) {
    .introducao-bg {
        background-color:#111111 ;
        border-radius: 2px;
        padding-top: 40px;
        box-shadow: inset -60px white;
    }
    .introducao h1 {
        font-size: 32px;
        margin-bottom: 16px;
    }
    .introducao {
        grid-template-columns: 1fr;
        gap: 32px;
    }
    .introducao-conteudo {
        padding-bottom: 0px;
    }
    .introducao img {
        height: 300px;
        width: 100%;
    }
}
