.bicicletas-lista {
    padding-top: 60px;
    padding-bottom: 120px;
    margin-left: 0px;
}
.bicicletas-lista h2 {
    margin-bottom: 40px;
    width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;

}
.bicicletas-lista ul {
     display: flex;
     gap: 40px;
     padding: 0 20px 25px 20px;
     max-width: 1400px;
     margin-left: auto;
     margin-right: auto;
     overflow-x: auto;
}

.bicicletas-lista li {
    gap: 1;
    min-width: 280px;

}
.bicicletas-lista a {
    display: block;
}
.bicicletas-lista a:hover h3::before {
    width: 24px;
}
.bicicletas-lista img {
    margin-bottom: 16px;
}
.bicicletas-lista h3 {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}
.bicicletas-lista h3::before {
    content: " ";
    margin-right: 8px;
    display: inline-block;
    background-color: var(--cor-p1);
    height: 8px;
    width: 12px;
    transition: width .3s;
}

.bicicletas-lista li span {
    padding-left: 20px;
}
@media (max-width:800px) {
    .bicicletas-lista {
        padding-bottom: 60px;
    }

}
