body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 600px;
}
ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
img {
    max-width: 100%;
    display: block;
}
a {
    text-decoration: none;
    color: inherit;
}
h1, ul, p {
    margin: 0px;
}
