body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 600px;
    color: #111111;
}
ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
img {
    max-width: 100%;
    display: block;

}
a {
    text-decoration: none;
    color: inherit;
}
h1, ul, h3, h2, h4 p {
    margin: 0px;
}
img[src$=".jpg"] {
    border-radius: 4px;
}