.depoimento {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--cor-p1);
    overflow-x: hidden;
}
.depoimento img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px;
}
.depoimentos-conteudo {
    padding: 40px 40px 80px 80px;
    align-self: end;

}
.depoimentos-conteudo p {
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-weight: 900;
    margin-bottom: 32px;
    position: relative;
    max-width: 32ch;
}
.depoimento p::before {
    content: "“";
    color: var(--cor-p2);
    font-size: 5rem;
    position: absolute;
    left: -50px;
    top:-20px;
}
.depoimento p::after {
    content: "”";
    color: var(--cor-p2);
    font-size: 5rem;
    position: absolute;
}
@media (max-width:800px) {
    .depoimento {
        grid-template-columns: 1fr;
        text-align: left;
    }
    .depoimento img {
        max-height: 200px;
    }
    .depoimentos-conteudo {
        justify-self: center;
    }
    
}