.introducao-bg {
    background-color: black;
    color: white;
    box-shadow: inset 0 -120px white;
}
.introducao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
    max-width: 1200px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
#point {
    color: #FFBB00;
}
.introducao-conteudo {
    align-self: end;
    padding-bottom: 200px;
}
.introducao img {
   object-fit: cover;
   height: 100%;
   border-radius: 4px;
}

.introducao-conteudo h1 {
    margin-bottom: 32px;
    font-size: 64px;
    line-height: 1.125;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.introducao-conteudo p {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.5;
    color: #b2b2b2;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}




@media (max-width:1200px) {
    .introducao h1 {
        font-size: 48px;
    }
    .introducao p {
        font-size: 18px
    }
}
@media (max-width:800px) {
    .introducao-bg {
        background-color:#111111 ;
        border-radius: 2px;
        padding-top: 40px;
        box-shadow: inset -60px white;
    }
    .introducao h1 {
        font-size: 32px;
        margin-bottom: 16px;
    }
    .introducao {
        grid-template-columns: 1fr;
        gap: 32px;
    }
    .introducao-conteudo {
        padding-bottom: 0px;
    }
    .introducao img {
        height: 300px;
        width: 100%;
    }
}