.introducao-bg {
    background-color: black;
    color: white;
    box-shadow: inset 0 -120px white;
}
.introducao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
    max-width: 1200px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
#point {
    color: #FFBB00;
}
.introducao-conteudo {
    align-self: end;
    padding-bottom: 200px;
}
.introducao img {
   object-fit: cover;
   height: 100%;
   width: 100%;
   max-width: 100%;
   border-radius: 4px;
}

.introducao-conteudo h1 {
    margin-bottom: 32px;
}
.introducao-conteudo p {
    margin-bottom: 20px;
    color: #b2b2b2;

}





@media (max-width:800px) {
    .introducao-bg {
        background-color:#111111 ;
        border-radius: 2px;
        padding-top: 40px;
        box-shadow: inset -60px white;
    }
    .introducao h1 {
        margin-bottom: 16px;
    }
    .introducao {
        grid-template-columns: 1fr;
        gap: 32px;
    }
    .introducao-conteudo {
        padding-bottom: 0px;
    }
    .introducao img {
        height: 300px;
        width: 100%;
    }
}